// Colors
$backgroundColor: #E6E6EA;
$altColor: #291E22;
// Gutters
$gutter: 1.5em;

// Fonts
$mainFont: 'Lato';
// === Fonts Colors
$mainTextColor: #ddd;

// === Fonts Size
$navFontSize: 1.4em;
$titleSize: 3em;