@use 'reset';
@use 'vars';

body {
  color: vars.$mainTextColor;
  font-family: vars.$mainFont, sans-serif;
  background: vars.$backgroundColor;
}

// === Fonts Faces
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.ttf');
}