@use 'src/styles/vars';
@import 'src/styles/mixins';

.contact{
  width: 100%;
  height: 100vh;
  padding-top: vars.$gutter * 3;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), vars.$altColor;
  color: vars.$mainTextColor;

  @include very-small{
    height: auto;
    padding-top: vars.$gutter * 5;
  }

  @include small-only{
    height: auto;
    padding-top: vars.$gutter * 5;
  }

  @include medium{
    padding-top: vars.$gutter * 3;
  }

  &__hh2{
    font-size: vars.$titleSize;

    @include very-small{
      font-size: vars.$titleSize / 1.2;
    }
  }

  &__box{
    height: 75%;
    margin: vars.$gutter * 3 auto;
    display: flex;
    justify-content: space-around;

    @include very-small{
      width: 95%;
      margin: vars.$gutter auto 0 auto;
      flex-direction: column;
    }

    @include small-only{
      width: 95%;
      margin: vars.$gutter auto 0 auto;
      flex-direction: column;
    }

    @include medium{
      width: 95%;
      margin: vars.$gutter auto 0 auto;
      flex-direction: column;
    }

    @include large{
      width: 95%;
      margin: vars.$gutter auto 0 auto;
      flex-direction: column;
    }

    &__visit{

      &__hh3{
        font-size: vars.$navFontSize * 1.2;
        padding: vars.$gutter;

        @include very-small{
          font-size: vars.$navFontSize;
        }

        @include small-only{
          font-size: vars.$navFontSize;
        }
        
        @include large{
          font-size: vars.$navFontSize * 1.3;
        }
      }

      &__map{
        width: 500px;
        height: 500px;

        @include very-small{
          width: 100%;
        }

        @include small-only{
          width: 100%;
        }

        @include medium{
          width: 90%;
        }

        @include large{
          width: 85%;
          height: 400px;
        }
      }
    }

    &__infos{
      display: flex;
      flex-direction: column;
      align-self: space-evenly;

      @include very-small{
        flex-direction: column-reverse;
        padding-top: vars.$gutter;
      }

      @include small-only{
        flex-direction: column-reverse;
        padding-top: vars.$gutter;
      }

      @include medium{
        flex-direction: column-reverse;
        padding-top: vars.$gutter * 4;
      }

      @include large{
        flex-direction: column-reverse;
        padding-top: vars.$gutter * 4;
      }

      &__hor{
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &__ouv{
          font-size: vars.$navFontSize * 1.2;
          padding: vars.$gutter;

          @include very-small{
            font-size: vars.$navFontSize;
            margin-bottom: vars.$gutter / 2;
            padding-bottom: 0;
          }

          @include small-only{
            font-size: vars.$navFontSize;
            margin-bottom: vars.$gutter / 2;
            padding-bottom: 0;
          }

          @include large{
            font-size: vars.$navFontSize * 1.5;
            padding-bottom: vars.$gutter / 2;
          }
        }

        &__u{
          margin: auto;

          @include very-small{
            padding-bottom: vars.$gutter * 2;
          }

          @include small-only{
            padding-bottom: vars.$gutter * 2;
          }

          &__l{
            text-align: center;
            padding: vars.$gutter / 2;
            font-size: vars.$navFontSize;

            @include very-small{
              padding: 0;
              font-size: vars.$navFontSize / 1.2;
            }

            @include small-only{
              padding: 0;
              font-size: vars.$navFontSize / 1.2;
            }

            @include large{
              font-size: vars.$navFontSize * 1.2;
            }
          }
        }
      }

      &__tel{
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;

        &__hhh3{
          font-size: vars.$navFontSize * 1.2;

          @include very-small{
            font-size: vars.$navFontSize;
            margin-bottom: vars.$gutter / 2;
          }

          @include small-only{
            font-size: vars.$navFontSize;
            margin-bottom: vars.$gutter / 2;
          }

          @include large{
            margin-bottom: vars.$gutter;
            font-size: vars.$navFontSize * 1.5;
          }
        }
  
        &__num{
          margin: 0 auto;
          font-size: vars.$navFontSize * 1.2;
        }

        @include large{
          margin: vars.$gutter * 2;
        }
      }

      &__tel::before{
        content: "";
        width: 377px;
        height: 3px;
        background: vars.$backgroundColor;
        position: absolute;
        top: 20px;
        left: 0;

        @include very-small{
          display: none;
        }

        @include small-only{
          display: none;
        }

        @include medium{
          display: none;
        }

        @include large{
          display: none;
        }
      }
    }
  }
}